@page "/kontakt"
@inject ISnackbar Snackbar
@using SiLoKonServer.Helpers
@inject EmailService emailService

<body style="min-height:fit-content">
    <MudContainer Class="align-content-md-center align-text-bottom" Style="text-align:center; padding-top:20px" >
       
            <MudText Typo="Typo.h4">Želite znati više?</MudText>
            <MudText>Slobodno nas kontaktirajte ako imate kakvih pitanja</MudText>             
    </MudContainer>

    <br />
    <MudContainer>
    <MudGrid Justify="Justify.Center"  >
        <MudItem xs="9" sm="3" md="3" lg="3">
            <MudTextField AdornmentColor="Color.Inherit" Placeholder="Ime i prezime" @bind-Value="ImePrezime" Label="Ime i prezime" Variant="Variant.Outlined"></MudTextField>
        </MudItem>

        <MudItem xs="9" sm="3" md="3" lg="3">
            <MudTextField Placeholder="Napišite Vaš email" @bind-Value="Email" Label="Email" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="9" sm="3" md="3" lg="3">
            <MudTextField Placeholder="Napišite broj telefona" @bind-Value="BrojTelefona" Label="Broj telefona" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        <MudItem xs="9" sm="9" md="9" lg="9">
            <MudTextField Placeholder="Napišite Vašu poruku" @bind-Value="Poruka" Label="Poruka" Variant="Variant.Outlined"></MudTextField>
        </MudItem>
        
        <MudItem xs="9" sm="9" md="9" lg="9" >
            <div>
                <MudFileUpload T="IReadOnlyList<IBrowserFile>" FilesChanged="UploadFiles">
                    <ButtonTemplate>
                        <MudButton HtmlTag="label"
                                   Variant="Variant.Filled"
                                   Color="Color.Primary"
                                   StartIcon="@Icons.Material.Filled.CloudUpload"
                                   for="@context.Id"
                                     FullWidth>
                            Dodaj datoteke
                        </MudButton>
                    </ButtonTemplate>
                </MudFileUpload>
                </div>
            </MudItem>
           

            @if (files != null)
            {
                <MudList>
                    @foreach (var file in files)
                    {
                        
                        <MudListItem  Icon="@Icons.Material.Filled.AttachFile">
                            @file.Name <code>@file.Size bytes</code> <MudIcon  @onclick="@(async () => await DeleteFile(file))"  Icon="@Icons.Material.Filled.Delete"></MudIcon>
                        </MudListItem>
                    }
                </MudList>
            }


        <MudItem xs="9" sm="9" md="9" lg="9">
            <MudButton Variant="Variant.Filled" @onclick=@(async ()=> await SendEmail()) FullWidth>Pošalji poruku</MudButton>
        </MudItem>
    </MudGrid>
    </MudContainer>
    <br />
<br />

</body>
@code{
    public string ImePrezime { get; set; }
    public string Email { get; set; }
    public string BrojTelefona { get; set; }
    public string Poruka { get; set; }

    IList<IBrowserFile> files = new List<IBrowserFile>();
    private void UploadFiles(IReadOnlyList<IBrowserFile> files)
    {
        foreach (var file in files)
        {            
            this.files.Add(file);
        }
        //TODO upload the files to the server
    }

    private void UploadFile(IBrowserFile file)
    {
        files.Add(file);
        //TODO upload the files to the server
    }

    private async Task DeleteFile(IBrowserFile file)
    {
        await Task.Run(() => this.files.Remove(file));
    }

    private async Task SendEmail()
    {
        await Task.Run(()=> emailService.SendEmailAsync(ImePrezime,Email,Poruka,BrojTelefona,files) );
    }

}

      